/* Sempre começar css assim */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
    /*
        top - cima
        bottom - baixo
        right - direita
        left - esquerda
    */
}

.conteudo {
    width: 100%;  /* largura */
    display: flex;
    align-items: center;
    justify-content: space-between; /* espacoço entre */
}

.caixa-texto{
    width: 600px;
}

h1 {
    color: #333;
    font-size: 60px;       /*tamanho da fonte*/
    font-weight: bold;     /* deixa a fonte mais grossa */

}

span {
    color: #017143;
    font-size: 70px;
    font-weight: 900;
}

p {
    font-size: 16px;
}

button {
    background: #017143;
    color: #fff;
    border-radius: 40px;    /* arredondamento das bordas */
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;       /* muda o ponteiro do mouse */
    transition: 0.5s;
}

button:hover {
    background: #013b23;  
}

.caixa-imagem {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 400px;
}

/* px - pixel */
.copao-verde {
    width: 340px;

    /* largura */
}

.menu {
    display: flex;
    justify-content: center;
}

.milkshake {
    width: 60px;
    cursor: pointer;
    transition: 0.5s;
}

.milkshake:hover {
    width: 60px;
    transform: translateY(-40px);
}

.circulo {
    background: #017143;
    width: 100%;    /*Largura*/
    height: 100%;   /*Altura*/
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(600px at right 800px);
    z-index: -1;
}